version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - RESOLVER=127.0.0.11
      - BACKEND_URL=http://backend:8080
      - PORT=8080
    depends_on:
      - backend
    # volumes:
    #   - ./frontend/nginx.local.conf:/etc/nginx/templates/default.conf.template

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8081:8080"
    environment:
      - NEO_GRAPH_NAME=60
      - PORT=8080