body {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* Top level container */
#app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#map {
  flex: 1;
  height: 100%;
  z-index: 1;
}

#controls {
  width: 400px;
  flex: 0 0 400px;
  height: 100%;
  overflow: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

/* Left column */
#logoname {
  display: flex;
  align-items: center;
  background-color: rgb(167, 198, 216);
  padding: 0px 0px 0px 0px;
  height: 110px;
}

#logo {
  height: 90%;
  width: auto;
}

#title {
  margin-left: 30px;
  font-size: x-large;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

#help {
  margin-left: auto;
  font-size: x-large;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  cursor: pointer;
}

#lang-switch {
  margin-left: 20px;
  margin-right: 20px;
  font-size: large;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  cursor: pointer;
  font-weight: bold;
}

/* #title, #logo { display: inline-block; vertical-align: middle;} */

#descriptif {
  font-size: large;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Input styles */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 15px 15px 40px auto auto;
  grid-gap: 15px;
  align-items: center;
  margin: 0 10px;
  /* padding: 5px; */
}

.grid-container>div {
  text-align: left;
}

.t-ecoule {
  grid-row-start: 2;
  grid-row-end: 4;
}

.b-veh {
  grid-column-start: 1;
  grid-column-end: 3;
}

.input-number {
  width: 40px;
}

.input-select {
  width: 85px;
}

.abc {
  margin: 0 10px;
}

.button {
  margin: 10px 0;
  width: 100%;
}

#clear {
  margin: 0 10px 20px 10px;
}

.button-clear-all {
  margin-left: 10px;
  width: 45%
}

#outputs {
  border: 1px solid black;
  height: 60px;
  width: auto;
  margin: 0 10px;
}

#contact {
  position: relative;
  bottom: -90px;
}

.abc {
  margin: 20px 0px;
}

.swal2-styled.swal2-confirm {
  background-color: rgb(167, 198, 216);
}